.content{
    font-size: 25px;
    font-weight: bold;
    display:inline
}
.inlin{
    display: inline;
}
.image{
    border-radius: 10px;
    background-color: white;
    margin-left:250px;
    height:200px;
    width:200px;
}